<div class="seller-auth">
    <div *ngIf="!showLogin" class="signup">
        <h1>
            Seller Sign-Up
        </h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form" >
            <input class="form-input" ngModel name="name" type="text" placeholder="Enter Name ">
            <input class="form-input" name="password" ngModel type="password" placeholder="Enter password">
            <input class="form-input" name="email" ngModel type="text" placeholder="Enter Email">
            <button class="form-button" >Sign-Up</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already Have Account? Click to Login</a>
        </form>
    </div>  

    <!-- Log-In form -->
    <div *ngIf="showLogin" class="login">
        <h1>
            Seller Login
        </h1>
        <p class="error-p">{{authError}}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form" >
            <input class="form-input" name="email" ngModel type="text" placeholder="Enter Email">
            <input class="form-input" name="password" ngModel type="password" placeholder="Enter password">
  
            <button class="form-button" >Login</button>
            <a class="auth-toggle-link" (click)="openSignUp()">Don't Have Account? Click to SignUp</a>
        </form>
    </div>  
</div>
